{{define "view"}}
{{template "base" .}}
{{end}}

{{define "content"}}
<h2>{{.Title}}</h2>

{{if .Exist}}
    <div style="color: var(--color-text-medium); font-size: 0.9em; margin-bottom: 20px;">
        Last updated: {{.Page.UpdatedAt.Format "Jan 02, 2006 at 15:04"}}
    </div>
    <div>{{.Page.Body | wiki}}</div>
    <p><a href="{{.EditHref}}">Edit</a></p>
{{else}}
    <p>This page does not exist yet.</p>
    <p>
        <a href="{{.EditHref}}">Click here to create <b>{{.Title}}</b></a>
    </p>
{{end}}

{{end}}
